
  nav {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 6rem;
    display: flex;
    align-items: center;
   
  }
  .logo{
    height:15vh !important
  }
  .page {
    min-height: calc(100vh - 6rem);
    display: grid;
    align-items: center;
    margin-top: -3rem;
  }
  h1 {
    font-weight: 700;
    
  }
  span {
    color: #2cb1bc;;
  }
  p {
    color: #486581
  }
  .main-img {
    /* display: none; */
    margin-top: 40px;
  }
  .btn{
     display:'flex';
    flex-direction:'columns';
    align-items: 'center';
    margin-top:10px
  }
  @media (min-width: 992px) {
    .page {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }
    .main-img {
      display: block;
      margin-top: -60px;
    }
    .btn{
      width: 100%;
    }
  }

  .container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  @media screen and (max-width: 735px) {
    .btn {
      /* max-width: 720px; */
      width: 50%;
    }
  }
  @media screen and (max-width: 992px) {
    .btn {
      /* max-width: 720px; */
      display: grid !important;
      width: 50% !important;
      justify-content: center !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .container {
      max-width: 720px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 576px) {
    .container {
      max-width: 540px;
      padding: 0;
    }
  }
  