.prev-btn,
  .next-btn {
    /* background:white;
    border-color: transparent;
    border-radius: 0.25rem;
    color:#2cb1bc;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition:0.3s ease-in-out all; */
  }